header {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgb(232, 232, 232);
  justify-content: center;
  padding: 25px 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}
