aside {
  width: 19%;
  padding-right: 10px;
}

aside h4 {
  margin: 0;
  font-size: 25px;
  color: #4e4d4d;
}

aside p {
  font-size: 16px;
  color: gray;
  margin: 5px 0 0;
}

.sidebar-item h5 {
  font-size: 17px;
  font-weight: normal;
}

.sidebar-item ul {
  padding: 0;
}

.sidebar-item ul li {
  list-style: none;
  font-size: 14px;
  line-height: 25px;
  color: #868484;
  cursor: pointer;
}

.sidebar-item ul li:hover {
  color: red;
}
